In [1]:
import pandas as pd
from pandas_profiling import ProfileReport

df = pd.read_csv("datasets/dataset-ecommerce.csv", delimiter=";")

profile = ProfileReport(df)

f = df.describe()
h = df.head()
t = df.tail()
i = df.info()

print(f)
print(h)
print(t)
print(i)


#profile.to_file(output_file="/mnt/c/Temp/output.html")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6727 entries, 0 to 6726
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              6725 non-null   object
 1   first_name      6002 non-null   object
 2   last_name       6002 non-null   object
 3   email           6002 non-null   object
 4   gender          6002 non-null   object
 5   date            6727 non-null   object
 6   time_in_site    6002 non-null   object
 7   num_pages       6002 non-null   float64
 8   browser         6727 non-null   object
 9   num_clicks      5999 non-null   object
 10    cart_value    6727 non-null   object
 11  conversion      6002 non-null   object
dtypes: float64(1), object(11)
memory usage: 630.8+ KB
         num_pages
count  6002.000000
mean     14.354715
std      13.578914
min       0.000000
25%       5.000000
50%      11.000000
75%      20.000000
max     342.000000
                                     id first_name last_name  \
0  d7583e88-a96f-4e9a-8a5c-a1959f601d38      Yosef     Lloyd
1  96550244-bec7-4e32-b6d4-7fa8af1ffeb5     Kayden   Hampton
2  fdc525dc-1f28-49d7-8391-e867647358ae     Caiden  Alvarado
3  c67639db-bb6e-479e-b130-34d28400a901     Gibson     Dixon
4  e5962164-e54b-45cd-bc3a-099d9aca84b5     Callum   Compton

                           email gender              date time_in_site  \
0   Yosef.LLOYD3555@mail2web.com      f  29/01/2017 11:44          442
1        Kay.HAMPT1551@gmail.com      m   29/01/2017 9:32          308
2  Caiden.ALVARADO9588@yahoo.com      f   25/01/2017 4:53         1205
3    Gibso.DIXO2888@mail2web.com      f  06/01/2017 11:02          625
4     Callu.COMPTO6458@yahoo.com      m   09/01/2017 4:26          270

   num_pages   browser num_clicks   cart_value   conversion
0       27.0    CHROME        106       $107,59           0
1        2.0    CHROME         20        $59,80           1
2       16.0    CHROME         84       $319,22           1
3       17.0    CHROME         45       $142,64           1
4       17.0  EXPLORER         64        $94,36           1
                                        id  \
6722  56eecb29-ce20-4fb0-bd67-db1129a389d2
6723  e27f9574-88ea-4c5c-b841-e4362b6ff904
6724  8536996b-cc59-482e-902d-31e39da0f24f
6725                                   NaN
6726                                   NaN

                                first_name last_name email  \
6722                                   NaN       NaN   NaN
6723                                   NaN       NaN   NaN
6724                                   NaN       NaN   NaN
6725  68c5a77c-d10e-48f4-aba2-47af5f1bbb30    Dustin  Rose
6726  e587c514-45d4-4fb1-951f-ed9181336938      Ella   Ray

                        gender             date      time_in_site  num_pages  \
6722                       NaN  01/01/1970 0:00               NaN        NaN
6723                       NaN  01/01/1970 0:00               NaN        NaN
6724                       NaN  01/01/1970 0:00               NaN        NaN
6725    Dustin.RO6757@live.com                m   12/01/2017 7:49      342.0
6726  Ella.RA4410@hushmail.com                f  13/01/2017 10:09      166.0

      browser num_clicks   cart_value   conversion
6722  UNKNOWN        NaN          $-1,0        NaN
6723  UNKNOWN        NaN          $-1,0        NaN
6724  UNKNOWN        NaN          $-1,0        NaN
6725       17    FIREFOX             52   $122,80
6726       17     CHROME             16    $30,70
None