In [24]:
### EJERCICIO 1 ###

#Capitalizar el string
x = "juanjo baeza lopez"
y = x.upper()
print(y)

print('------')

#Hacer el reverse del string
x = "juanjo baeza lopez"[::-1]
y = x.upper()
print(y)

print('------')

#Reemplazar caracteres
x = "juanjo baeza lopez"
y=x.replace(' ','*')
print(y)

print('------')

#Crear lista y añadir elementos
lista = []

x = "juanjo baeza lopez"

nombre = (x).split(' ')[0]
apell1 = (x).split(' ')[1]
apell2 = (x).split(' ')[2]

lista.append(nombre); lista.append(apell1); lista.append(apell2)

print(lista)

JUANJO BAEZA LOPEZ
------
ZEPOL AZEAB OJNAUJ
------
juanjo*baeza*lopez
------
['juanjo', 'baeza', 'lopez']

In [28]:
### EJERCICIO 2 ###

lista = [2, 7, 4, 8, 10, 3, 5]

#Ordenar lista e imprimir
lista.sort(reverse = True)
print(lista)

print('------')

#Eliminar numero mayor de la lista
lista.remove(max(lista))
print(lista)

print('------')

#Calcular suma de la lista
print(sum(lista))

[10, 8, 7, 5, 4, 3, 2]
------
[8, 7, 5, 4, 3, 2]
------
29

In [46]:
### EJERCICIO 3 ###

tupla = (10, 20, 30, 40, 50, 30, 10)

#Numero de indice del elemento 30
elemento = 30
a = tupla.index(elemento)
print(a)

print('------')

# Numero de ocurrencias del numero 10
def countX(tupla, x):
    count = 0
    for ele in tupla:
        if (ele == x):
            count = count + 1
    return(count)

print(countX(tupla, 10))

print('------')

#Imprimir primer y último elemento de la tupla
first = tupla[:1][0]
last  = tupla[-1:][0]

print(f"Primer elemento:",first, "Ultimo elemento:",last)

2
------
2
------
Primer elemento: 10 Ultimo elemento: 10

In [56]:
### EJERCICIO 4 ###

estudiante = {"nombre": "Juan", "edad": 20,"carrera": "Informática", "notas": [8.5, 9.0, 7.5, 10] }

#Añadir clave:valor
estudiante['IES'] = 'Suarez de Figueroa'
print(estudiante)

print('------')

#Modificar la edad del estudiante a 21 años
estudiante['edad'] = 21
print(estudiante)

print('------')

#Imprimir la clave beca, si no existe error
my_var = estudiante.get('beca')

if my_var == None: 
    my_var = "Error"

print(my_var)

{'nombre': 'Juan', 'edad': 20, 'carrera': 'Informática', 'notas': [8.5, 9.0, 7.5, 10], 'IES': 'Suarez de Figueroa'}
------
{'nombre': 'Juan', 'edad': 21, 'carrera': 'Informática', 'notas': [8.5, 9.0, 7.5, 10], 'IES': 'Suarez de Figueroa'}
------
Error

In [62]:
### EJERCICIO 5 ###

conjunto1 = {1, 2, 3, 4, 5}
conjunto2 = {4, 5, 6, 7, 8}

#Union de 2 conjuntos
conjunto3 = conjunto1 | conjunto2
print(conjunto3)

print('------')

#Intersección de 2 conjuntos
interseccion = conjunto1 & conjunto2
print(interseccion) 

print('------')

#Diferencia de conjuntos
diferencia = conjunto1 - conjunto2
print(diferencia)

print('------')

#Añadir elemento y quitar otro
conjunto1.add(9)
conjunto1.remove(2)

print(conjunto1)

print('------')

{1, 2, 3, 4, 5, 6, 7, 8}
------
{4, 5}
------
{1, 2, 3}
------
{1, 3, 4, 5, 9}
------

In [73]:
### EJERCICIO 6 ###

#Solicitamos numero real flotante
numero = float (input('Introduce numero real: '))

#Lo convertimos a entero, integer
numero = int(numero)

#Lo elevamos al cuadrado
numero = numero * numero
print(numero)

print('------')

#Condicion
if numero > 1000:
    print("El cuadrado es grande")
elif numero < 1000:
    print("El cuadrado es pequeño")

print('------')

#Comprobar que es par
if numero % 2 == 0:
    print("El numero es par")
else:
    print("El numero es impar")

Introduce numero real:  100.36

10000
------
El cuadrado es grande
------
El numero es par