In [4]:
def contar_letras(texto):
    resultado = {}
    texto = texto.lower()
    
    for letra in texto:
        if letra .isalpha() and letra not in resultado:
            resultado[letra] = texto.count(letra)
    return resultado

texto = "Este es mi texto es este mi palabras por doquier"

contar_letras(texto)

{'e': 8,
 's': 5,
 't': 4,
 'm': 2,
 'i': 3,
 'x': 1,
 'o': 3,
 'p': 2,
 'a': 3,
 'l': 1,
 'b': 1,
 'r': 3,
 'd': 1,
 'q': 1,
 'u': 1}

In [14]:
def lista_coches(precios_coches):
    result = ""
    for fabricante, precio in precios_coches.items():
        result += "{} cuesta {} dolares | ".format(fabricante, precio)
        
    return result


precios_coches = {"Kia Soul":19000, "Lamborghini Diablo":55000, "Ford Fiesta":13000, "Toyota Prius":24000}

lista_coches(precios_coches)

'Kia Soul cuesta 19000 dolares | Lamborghini Diablo cuesta 55000 dolares | Ford Fiesta cuesta 13000 dolares | Toyota Prius cuesta 24000 dolares | '

In [6]:
car_prices = {"Kia Soul":19000, "Lamborghini Diablo":55000, "Ford Fiesta":13000, "Toyota Prius":24000}

car_prices['Kia Soul']

19000

In [19]:
for x in range(3,6+1):
  print(x)

3
4
5
6

In [22]:
def subrayar(frase, palabra):
    return(frase.replace(palabra, palabra.upper()))
    
print(subrayar("Esta es la frase", "frase"))

Esta es la FRASE

In [30]:
def add_prices(basket):
    total = 0
    for item, price in basket.items():
        total += price
        print(total)

basket = {"pescado": 45, "fruta": 60, "carne": 78}
add_prices(basket)

print(basket)
print(basket.keys())
print(basket.values())
print(basket["pescado"])

45
105
183
{'pescado': 45, 'fruta': 60, 'carne': 78}
dict_keys(['pescado', 'fruta', 'carne'])
dict_values([45, 60, 78])
45

In [2]:
grocery = ['bread', 'milk', 'butter']

for items in enumerate(grocery):
    print(items)

(0, 'bread')
(1, 'milk')
(2, 'butter')

In [3]:
for count, item in enumerate(grocery):
  print(count, item)

0 bread
1 milk
2 butter

In [4]:
a = set('abcthabcjwethddda')
a

{'a', 'b', 'c', 'd', 'e', 'h', 'j', 't', 'w'}

In [10]:
data = {'Kushal':'Fedora', 'Karl':'Debian', 'Jace':'Mac'}
data

{'Kushal': 'Fedora', 'Karl': 'Debian', 'Jace': 'Mac'}

In [13]:
data['Kushal']

'Fedora'

In [14]:
for x in data:
    print(f"Key = {x}")

Key = Kushal
Key = Karl
Key = Jace

In [16]:
for x, y in data.items():
    print("%s usa %s" % (x, y))

Kushal usa Fedora
Karl usa Debian
Jace usa Mac

In [18]:
for i, letters in enumerate(['a', 'b', 'c'], start=1):
    print(i, letters)

1 a
2 b
3 c